/* typography */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%;
}
h1 {
  font-size: 4.25rem;
  margin: 0;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
/* nav */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a {
  color: #446286;
}
header {
  z-index: 1;
  position: sticky;
  top: 0;
}
.logo {
  width: 60%;
}
.nav {
  background: url(../images/header-bg.jpg);
  display: flex;
  padding: 0 0 0 2rem;
  height: 10rem;
  position: relative;
}
.nav__list {
  background-color: #446286;
  padding: 2rem 2rem;
  display: none;
  position: absolute;
  right: 0;
  top: 5rem;
  font-size: 1.5rem;
}
#chkToggle {
  display: none;
}
#chkToggle:checked + ul.nav__list {
  display: flex;
  flex-direction: column;
}
.nav__item {
  padding: 0.5rem 2rem;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  padding-bottom: 2rem;
}
.nav__item a {
  color: #fefefd;
}
.nav__item a:hover {
  color: #fefefd;
  text-decoration: none;
}
.nav__phone {
  position: absolute;
  top: 0rem;
  right: 7rem;
  color: #2e3d4d;
  font-size: 1.6rem;
}
.navbar__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #446286;
  font-size: 3.5rem;
}
/* main banner */
.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-content {
  padding-left: 0;
  margin-top: 5rem;
  text-align: center;
  color: #fefefd;
  text-shadow: 0 0 15px black, 0 0 30px #333333, 0 0 40px #cccccc;
}
.banner-content h2 {
  font-family: "Architects Daughter", cursive;
}
.btn--cta {
  background: #446286;
  color: #fefefd;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 3rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--cta:hover {
  background: #2e3d4d;
}
.banner-line-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  height: 0.3rem;
  width: 8rem;
  background-color: #fefefd;
}
/* services */
.services {
  background: url(../images/woodgrain-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #333;
  padding: 0 0 8rem 0;
}
.services-top {
  padding: 8rem 1rem 6rem 1rem;
}
.services-line-1 {
  margin: 0 auto;
  width: 8rem;
  height: 0.3rem;
  background-color: #7f7f7d;
}
.services-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  cursor: pointer;
}
.circle-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(51, 51, 51, 0.75);
  border-radius: 50%;
  width: 22rem;
  height: 22rem;
  color: #fefefd;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.circle-overlay:hover {
  transform: scale(1.3);
}
.services-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-overlay h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 4rem;
  border-bottom: 0.3rem solid #fefefd;
}
.circle-overlay:hover h3:after {
  transform: scaleX(1.8);
}
/* footer */
.footer {
  background: #222427;
  padding: 4rem 1rem 5rem 1rem;
  color: #fefefd;
}
.footer__top {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}
.footer__bottom {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #7f7f7d;
  text-align: center;
}
.footer__bottom a:hover {
  color: #fefefd;
}
.footer__social-icon {
  padding: 1.5rem 0.75rem 0 1.5rem;
}
.footer__copyright {
  font-size: 1.3rem;
  color: #7f7f7d;
}

@media screen and (min-width: 769px) {
  /* typography */
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.4rem;
  }
  /* nav */
  #chkToggle:checked + ul.nav_list {
    display: flex;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .navbar__toggle {
    display: none;
  }
  .nav__phone {
    position: absolute;
    top: 2rem;
    right: 11rem;
  }
  .nav__list {
    display: flex;
    position: absolute;
    right: 5rem;
    background-color: transparent;
  }
  a.nav__link.active {
    color: #fefefd;
    background: #446286;
    padding: 0.5rem;
  }
  /* main banner */
  .main-banner {
    display: flex;
    flex-direction: row;
  }
  .banner-content {
    margin-top: 0;
    text-align: left;
    padding-left: 10rem;
  }
  .btn--cta {
    margin: 5rem 0;
  }
  .banner-line-1 {
    margin: -0.5rem 0 3rem 0;
  }
  /* footer */
  .footer {
    padding: 4rem 15rem 5rem 15rem;
  }
  .footer__top {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .footer__bottom {
    margin-top: 2rem;
    display: block;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  /* typography */
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  /* nav */
  a {
    text-decoration: none;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .nav {
    background: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    padding: 0 5rem 0 15rem;
    height: 10rem;
    position: relative;
  }
  .nav__list {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 5rem;
    background-color: transparent;
    font-size: 1.6rem;
  }
  .nav__item {
    padding: 0.5rem 2rem;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
  }
  .nav__item a {
    color: #2e3d4d;
  }
  .nav__phone {
    position: absolute;
    top: 2rem;
    right: 11rem;
    color: #2e3d4d;
    font-size: 1.8rem;
  }
  /* main banner */
  .main-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .banner-content {
    margin-top: 0;
    text-align: left;
    padding-left: 15rem;
  }
  .btn--cta {
    background: #446286;
    margin: 5rem 0;
  }
  .banner-line-1 {
    margin: -0.5rem 0 3rem 0;
  }
  /* services */
  .services-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* footer */
  .footer {
    padding: 4rem 15rem 5rem 15rem;
  }
  .footer__top {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .footer__bottom {
    text-align: left;
  }
}
